﻿@{
    ViewData["Title"] = "Contact page";
}
<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary" id="modal-toggle-button" data-bs-toggle="modal" data-bs-target="#contactModal">
    Kontaktirajte nas!
</button>

<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Kontakt Forma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Home/SubmitQuery">
                    <div class="mb-3">
                        <label for="imePrezime" class="form-label">Ime i Prezime:</label>
                        <input type="text" class="form-control" id="imePrezime" name="imePrezime" placeholder="Unesite ime i prezime" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Unesite email adresu" required>
                    </div>

                    <div class="mb-3">
                        <label for="poruka" class="form-label">Poruka:</label>
                        <textarea class="form-control" id="poruka" name="poruka" rows="4" placeholder="Unesite poruku" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="tipPoruke" class="form-label">Tip Poruke:</label>
                        <select class="form-select" id="tipPoruke" name="tipPoruke">
                            <option value="pohvala">Pohvala</option>
                            <option value="upit">Upit</option>
                            <option value="poslovniPrijedlog">Poslovni prijedlog</option>
                            <option value="zalba">Žalba</option>
                        </select>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="newsletter" name="newsletter">
                        <label class="form-check-label" for="newsletter">Primati Newsletter</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Pošalji</button>
                </form>
            </div>
        </div>
    </div>
</div>