<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"><a href="/Home/Contact">Kontakt</a></li>
        <li class="breadcrumb-item">Poruka poslana</li>
    </ol>
</nav>

@{
    ViewData["Title"] = "Contact Success";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewBag.Odgovor</p>